.slides {
  max-width: 80%;
  position: relative;
  background-color: #1515143b;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 50%), 0px 2px 4px 5px rgb(0 0 0 / 10%);
  border-radius: 15px;
  opacity: 0;
  transition-duration: 1s ease;
}

.slides.active {
  min-width: 70%;
  padding: 20px;
  margin-bottom: 30px;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
