section > h3 {
  margin: 100px auto;
  text-align: center;
  font-size: xx-large;
}

.form-callback {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  font-size: xx-large;
  background-color: #1515143b;
  padding: 25px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 50%), 0px 2px 4px 5px rgb(0 0 0 / 10%);
  border-radius: 15px;
}

.form-callback label {
  text-align: left;
  display: block;
}

.form-callback > input {
  width: 100%;
  font-size: x-large;
  border: 0px;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 15px;
}

.form-callback > input:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  border-radius: 8px;
}

.form-callback > input:hover {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  border-radius: 8px;
}

.form-callback-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3%;
  left: 40%;
  /* background: rgba(185, 181, 181, 0.993) url("media/load.gif") center / 50px
    no-repeat; */
  padding: 15px;
  border-radius: 15px;
  transition: all 0.5s ease 0s;
}

.form-callback-loading img {
  width: 50px;
  height: 50px;
}

.form-callback-not-loading {
  display: none;
}

.form-callback-error {
  color: rgb(211, 2, 2);
  font-size: medium;
}

.form-callback-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.form-callback-buttons input {
  max-width: 150px;
  font-size: x-large;
  border: 0px;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 15px;
}

.form-callback-submit-button {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 50%), 0px 2px 4px 5px rgb(0 0 0 / 10%);
  background-color: #607bd4;
  color: whitesmoke;
  outline: 0;
  transition: all 0.5s ease 0s;
}

.form-callback-submit-button:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 50%), 0px 2px 4px 5px rgb(0 0 0 / 10%);
  background-color: whitesmoke;
  color: #607bd4;
  outline: 0;
  box-shadow: 0 0 0 3px #607bd4;
  border-radius: 8px;
}

.form-callback-submit-button:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.form-callback-clear-button {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 50%), 0px 2px 4px 5px rgb(0 0 0 / 10%);
  background-color: #8e4d4d;
  color: whitesmoke;
  outline: 0;
  transition: all 0.5s ease 0s;
}

.form-callback-clear-button:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 50%), 0px 2px 4px 5px rgb(0 0 0 / 10%);
  background-color: whitesmoke;
  color: #8e4d4d;
  outline: 0;
  box-shadow: 0 0 0 3px #8e4d4d;
  border-radius: 5px;
}

.form-callback-clear-button:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
